.footer {
  position: sticky;
  top: 100vh;

  &__inner {
    padding: 15px;
  }

  &__link {
    @include flex-center;
    gap: 20px;
  }
}


@media (min-width:$bp-pc) {
  .footer {
    &__inner {
      padding: 22px;
    }
  }
}


